@import './vw.scss';

body {
  background-color: #ffffff;
}

.container {
  position: absolute;
  width: auto;
  height: vw(100px);
  left: vw(32px);
  top: vw(32px);

  .message {
    font-size: vw(32px);
  }
}

